<h1>Add Driver</h1>
<%= form_with model: @driver, local: true do |f| %>
  <%= f.text_field :name, placeholder: "Driver Name" %>
  <%= f.text_field :phone, placeholder: "+1 (602) 555-1234" %>
  <%= f.submit "Add Driver" %>
<% end %>
